{% load i18n %}
<nav class="navbar navbar-expand-lg app-navbar navbar-public" aria-label="{% trans 'Main' %}">
  <div class="container-xxl">
    {% include "components/navbar_brand.html" %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-main" aria-controls="nav-main" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="nav-main">
      <ul class="navbar-nav me-auto">{% include "components/nav_items.html" with entries=nav.main %}</ul>
      <ul class="navbar-nav">{% include "components/nav_items.html" with entries=nav.right %}</ul>
    </div>
  </div>
</nav>
